################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/服务目录树/obj/Debug
/.vs/一张蓝图配置工具/v15
/点选查询/obj/Debug
