<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="http://59.212.146.95" value="ShO_vR62wDqBUv8_Vc3EbFicmBa-5VVFM9UyOcLkAw_vEL94mbsbcyOF_Ui19roJnLklSRoVKqMift0AWqfmlw.."/>
  </appSettings>
</configuration>